<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div class="container">
			<h1>TubeSaver</h1>
			<form id="downloadForm" method="POST" action="/download">
				<input
					type="text"
					name="url"
					placeholder="Enter YouTube Video url"
					required
				/>
				<select name="quality" required>
					<option value="best">Best quality</option>
					<option value="worst">Worst quality</option>
					<option value="720p">720p</option>
					<option value="480p">480p</option>
					<option value="360p">360p</option>
				</select>
				<button type="submit">Download</button>
			</form>
		</div>
	</body>
</html>
